body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    font-family:arial;
    height: 90vh;
    width: 100%;
    
}

.default-image-size{
    /* height: 100px; */
    display: inline-block;
    border-radius: 30px
}

.img-size{
    height: 130px;
    width: 180px;
    border: 5px solid rgb(238, 255, 0);
    border-radius: 20px;
    cursor:pointer;
}

.result{
    font-size: 40px;
}

.reset-score-btn, .auto-play-btn{
    background-color: white;
    border: none;
    font-size: 15px;
    padding: 8px 15px;
    cursor: pointer;

}

.css-game{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: auto;
    margin: 100px;
    background-color: cornflowerblue;
}